# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/grisu_exact/v16
/x64
/case_e_positive.png
/get_precision_upper_bound_64_positive.m
/get_precision_upper_bound_64_negative.m
/get_precision_upper_bound_32_positive.m
/get_precision_upper_bound_32_negative.m
/binary32_negative_k.csv
/minmax_euclid_v2.m
/minmax_euclid.m
/grisu_exact.vcxproj.user
/grisu_exact.vcxproj.filters
/grisu_exact.vcxproj
/grisu_exact.sln
/binary32_generated_cache.txt
/binary32_positive_k.csv
/binary64_generated_cache.txt
/binary64_negative_k.csv
/binary64_positive_k.csv
/benchmark/x64/Release/vcpkg.applocal.log
/benchmark/x64/Release/vc142.pdb
/benchmark/x64/Release/benchmark.log
/benchmark/x64/Release/benchmark.tlog/link.write.1.tlog
/benchmark/x64/Release/benchmark.tlog/link.read.1.tlog
/benchmark/x64/Release/benchmark.tlog/link.delete.1.tlog
/benchmark/x64/Release/benchmark.tlog/link.command.1.tlog
/benchmark/x64/Release/benchmark.tlog/CL.write.1.tlog
/benchmark/x64/Release/benchmark.tlog/CL.read.1.tlog
/benchmark/x64/Release/benchmark.tlog/CL.command.1.tlog
/benchmark/x64/Release/benchmark.tlog/benchmark.write.1u.tlog
/benchmark/x64/Release/benchmark.tlog/benchmark.lastbuildstate
/benchmark/VTune Amplifier Results/benchmark/benchmark.amplxeproj
/VTune Amplifier Results/grisu_exact/grisu_exact.amplxeproj
/benchmark/VTune Amplifier Results/benchmark/r000hs
/grisu_exact_backup.h
/vc2019/x64
/vc2019/.vs/grisu_exact/v16
/old_files/benchmark/x64
/old_files/benchmark/VTune Profiler Results/benchmark
/benchmark_results/uniform_benchmark_binary64.csv
/benchmark_results/uniform_benchmark_binary32.csv
/benchmark_results/digits_benchmark_binary64.csv
/benchmark_results/digits_benchmark_binary32.csv
